apiVersion: k3d.io/v1alpha5
kind: Simple
metadata:
  name: ${cluster_name}
servers: 1
agents: ${agents}
image: ${k3s_image}
ports:
  - port: 80:80
    nodeFilters:
      - loadbalancer
  - port: 443:443
    nodeFilters:
      - loadbalancer
%{ if registry != null ~}
# Node-level pull credentials: every namespace created by the golden path can
# pull service images without its own imagePullSecret.
registries:
  config: |
    configs:
      ${registry.host}:
        auth:
          username: ${registry.username}
          password: ${registry.token}
%{ endif ~}
options:
  k3d:
    wait: true
    timeout: 180s
  kubeconfig:
    updateDefaultKubeconfig: false
    switchCurrentContext: false
